<?xml version="1.0"?>

<launch>

    <!-- Launch arguments -->
	<arg name="panda_softhand_safety_params" default="$(find panda_softhand_safety)/configs/panda_softhand_safety_params_2.yaml"/>
	
	<!-- Loading config file to param server -->
	<rosparam command="load" file="$(arg panda_softhand_safety_params)"/>

    <!-- Load main node -->
    <node name="panda_softhand_safety" pkg="panda_softhand_safety" type="panda_softhand_safety_node" output="screen"/>

</launch>