<?xml version="1.0" ?>
<!-- THIS FILE LAUNCHES THE FRANKA EMIKA PANDA + SOFTHAND: BOTH THE PACKAGES ARE NEEDED -->
<launch>
<include file="$(find qb_hand_control)/launch/control_qbhand2m.launch">
           <arg name="activate_on_initialization" value="true"/>
           <arg name="standalone" value="true"/>
           <arg name="use_controller_gui" value="true"/>
</include>    
</launch>