<?xml version="1.0" encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda_softhand">

  <!-- ARGS -->
  <xacro:arg name="arm_id" default="panda"/>
  <xacro:arg name="robot_ns" default="panda"/>

  <!-- MODELS -->
  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:include filename="$(find qb_hand_description)/urdf/qbhand.utils.xacro"/>
  
  <!-- WORLD -->
  <link name="world"/>

  <joint name="world_to_panda_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world" />
    <child link="panda_link0" />
  </joint>

  <!-- PANDA ARM -->
  <xacro:panda_arm/>
  
  <!-- RIGHT SOFTHAND2 -->
  <xacro:arg name="namespace" default="qbhand2m1"/>
  <xacro:build_hand_2m_from_yaml_with_90_deg_flange configuration="qbhand_right" namespace="$(arg namespace)" parent="panda_link8" parent_link_suffix="">
		  <origin xyz="0.045 0 0.035" rpy="1.57 0 1.57"/>
	</xacro:build_hand_2m_from_yaml_with_90_deg_flange>
  
  <!-- EXTRA ENDEFFECTOR -->
  <joint name="right_hand_ee_joint" type="fixed">
    <origin xyz="0.116 -0.002 0.036" rpy="0 0 0"/>
    <parent link="panda_link8" />
    <child link="right_hand_ee_link" />
  </joint>

  <link name="right_hand_ee_link">
  </link>

</robot>