<launch>
   <include file="$(find panda_softhand_description)/launch/launchPandaSoftHand.launch" />
   <!-- <include file="$(find panda_softhand_control)/launch/launchSimulateObjectPose.launch" /> -->
   <include file="$(find panda_softhand_control)/launch/run_arduino.launch" />
   <include file="$(find panda_softhand_control)/launch/launchControlServer.launch" />   
</launch>