<?xml version="1.0"?>
<launch>

	<!-- Launch arguments -->
	<arg name="task_sequences_params" default="$(find panda_softhand_control)/configs/task_sequences_params.yaml"/>
	
	<!-- Loading config file to param server -->
	<rosparam command="load" file="$(arg task_sequences_params)"/>
    
    <!-- Load main node for base task server services launch from command line-->
  	<node name="task_server_node" pkg="panda_softhand_control" type="task_server" output="screen"/>	
    
</launch>