<?xml version="1.0"?>
<launch>

	<!-- Temporarily publishing the object pose and tf. TODO: comment out when using vision -->
	<node name="rostopic_object_pose_node" pkg="rostopic" type="rostopic" args="pub -r 10 /grasping/chosen_object geometry_msgs/Pose 
	'{position: {x: 0.667, y: -0.148, z: 0.096}, orientation: {x: 0.978, y: -0.202, z: 0.003, w:  -0.044}}'"/>

	<node name="world_to_object" pkg="tf" type="static_transform_publisher" args="0.579 -0.189 0.186 1.573 0.120 0.059 world object 100"/>
    <node name="world_to_object2" pkg="tf" type="static_transform_publisher" args="0.579 0.189 0.186 1.573 0.120 0.059 world object 100"/>

</launch>